



<section class="container-fluid bg">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md3">


        





<form class="form-container"  action="/login" method="POST">
  <div class="container">
    <h1>Log In</h1>


	<label for="username"><b>Username</b></label>
    <input type="text" class="form-control" placeholder="Enter Username" name="username" >


    <label for="password"><b>Password</b></label>
    <input type="password" class="form-control" placeholder="Enter Password" name="password" ><br>
    <div class="clearfix"><br>
    
    <button type="submit" class="btn btn-primary" class="loginbtn">Log In</button>
</form>





</section>
    </section>
</section>
