
<!-----

<section class="container-fluid bg1">



<h1> Hello!  <%= current_user.username.capitalize%> </h1><br>

</div>

<p><a href="/photos">View all Photos</a></p>
<p><a href="/photos/new">Add a Photo</a></p>


</section>
---->



<div class="container-fluid bg1">
<h1> Hello!  <%= current_user.username.capitalize%> </h1>
<p><a href="/photos/new">Add a Photo</a></p>
</div>



