
<h1>Update<h1>

<form action="/photos/<%= @photo.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">

  <label>Title:</label>
  <input type="text" id="title" name="photo[title]" value="<%= @photo.title%>">
  <label>image:</label>
  
  <input type="text" id="image_url" name="photo[image_url]" value="<%= @photo.image_url%>" >

  <label>Description:</label>
  <input type="text" id="description" name="photo[description]" value="<%= @photo.description%>" >

  <input type="submit" name="Update" id="submit" >

</form>

