


<form action="/photos/<%= @photos.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label>Title:</label>
  <input type="text" id="title" name="title" value="<%= @photo.title%>">
  <label>image:</label>
  <input type="text" id="image_url" name="image_url" value=<img src="<%= @photo.image_url%>" >

  <label>Description:</label>
  <input type="text" id="description" name="description" value="<%= @photo.description%>" >

  

  <input type="submit" name="submit" id="submit" >

</form>