<h1>all Photos </h1>






<% @photos.each do |photo| %>
<a href='/photos/<%= photo.id %>'><img src="<%= photo.image_url%>"></a>
 

<% end %>

<!-- and have a link to another page which will show more information for one particular instance.
-->

