<h1>all Photos </h1>





<ul>
<% @photos.each do |photo| %>
<h2><%= photo.title%></h2>
<img src="<%= photo.image_url%>" alt="<%= photo.description%>" width="240" height="300"><br>
<%= photo.description%>
<% end %>
</ul>



