
<h1>Add a Photo</h1>

<form action="/photos" method="post">
  <label>Title:</label>
  <input type="text" id="title" name="title" >

  <!--#how should i add the image url ? --> 



  <label>Description:</label>
  <input type="text" id="description" name="description" >


<input type="submit" name="submit" id="submit" >
</form>
