
<h1>Add a Photo</h1>

<form action="/photos" method="post">
  <label>Title:</label>
  <input type="text" id="title" name="photo[title]"placeholder="Title" >

  <label>Image:</label>
  
  <input type="text" id="image_url" name="photo[image_url]" placeholder="Image url" >


  <label>Description:</label>
  <input type="text" id="description" name="photo[description]"placeholder="Description"  >


<input type="submit" name="submit" id="submit" >
</form>
